body {
	font-family: sans-serif;
	font-style: italic;
	font-family: monospace;
	color: #66618c;
	background: url(../img/background.jpg);
}
/*--------------------------Used in the whole program-----------*/

a {
	color: #3e022e;
}

/*--------------------------Used in the whole program-----------*/

/*--------------------------Header starts-----------*/

header {
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
}
/*--------------------------hover the anchor Tag-----------*/

a:hover {
	color: black;
	text-decoration: none;
}

#barleft{
	float: left;
	width: 90%;
	background: #d2ede3;
}

#barleft img {
	float: left;
	width: 15%;

	/*height: 10%;*/
}

#barleft nav {
	float: right;
	width: 85%;
	/*height: 10%;*/
}

#barleft nav ul {
	float: right;
	margin: 20px;
}

#barleft nav li {
	display: inline;
	margin: 20px;
	font-family: fantasy;
	color: #66618c;
	font-size: 15px;
}

#barright{
	float: right;
	width: 10%;
	background: #d2ede3;
	padding-bottom: 8px;
	/*height: 10%;*/
}

#barright p{
	height: 52.7px;
}

#barright p i{
	float: right;
	margin: 23px;

}
/*--------------------------Body starts here-----------*/


.content {
	margin-top: 100px;
}

.contentleft img{
	width: 259px;
	overflow: opx;
}

/*--------------------------footer starts here-----------*

/*.down {
	margin-top: 19px;
}*/
footer{
	background: #66618c;
	color: #2b2525;
}
.down {
	padding-top: 20px;
	text-align: center;
}/*--------------------------Divided into 2 parts-----------*/
.down1right i{
	float: right;
	padding: 20px;
}

.down1right li{
	display: inline;
	text-decoration: none;
	margin: 0px;
}
.down1right li:after{
	padding: 0px 5px;
	content: '|';
}

.down1right li:last-child:after{
	content: '';
}

.down1right ul{
	float: right;
}

.down1left li{
	display: inline;
	text-decoration: none;
	margin-left: 0px;

}

.down1left li:after{
	padding: 0px 5px;
	content: '|';
}

.down1left li:last-child:after{
	content: '';
}

.down1left p{
	margin-top: 20px;
	margin-bottom: 3px;
}
/*--------------------------end here-----------*/